{% extends "torneosonline/base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center login-container">
            <div class="col-md-6 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Editar Torneo</h4>
                    </div>
                    <div class="card-body text-center">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary me-1">Guardar</button>
                            <a href="{%url 'AdministrarTorneos'%}"><button type="button" class="btn btn-danger">Cancelar</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}