{% extends "torneosonline/base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background-color:#1F2833; color:#C5C6C7;">
                    <div class="card-header">
                        <h4 class="text-center">Editar Torneo</h4>
                    </div>
                    <div class="card-body text-center">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary me-1">Guardar</button>
                            <a href="{%url 'AdministrarTorneos'%}"><button type="button" class="btn btn-danger">Cancelar</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #id_usuarios {
            background-color: #1F2833;
            color: #C5C6C7;
            border: none;
            outline: none;
            padding: 0.5rem 1rem;
            width: 100%;
            border-radius: 0;
            text-align: center;
          }
          
          #id_usuarios option {
            background-color: #1F2833;
            color: #C5C6C7;
          }
    </style>
{% endblock content %}