{% extends 'torneosonline/base.html' %}


{% block content %}
    
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-12">
            {% for amonestacion in amonestaciones %}
                <details class="card mb-3" style="background-color: #1F2833; border-radius: 8px; color: #C5C6C7;">
                    <summary class="card-header">{{amonestacion}}</summary>
                    <div class="card-body">
                        <p class="card-text">{{ amonestacion.descripcion }}</p>
                    </div>
                </details>
            {%empty%}
                <h3>No hay amonestaciones pendientes.</h3>
            {% endfor %}
            <a href="{%url 'AdministrarUsuarios'%}" class="btn btn-proyecto">Volver</a>
        </div>
</div>

{% endblock content %}
    