{% extends 'torneosonline/base.html' %}

{% block content %}

    <div>
        <div class="container contenedor mt-3" style="background-color: #1F2833; border-radius: 8px">
            <div class="row text-center">
                <div class="col-12">
                    <h3>{{torneo.nombre}}</h3>
                    {% if partida %}
                    <div class="m-5" background-color:#1F2833>
                        <h5>Partida del Torneo {{ partida.torneo.nombre }}</h5>
                        {% if partida.ganador == None or partida.ganador == ''%}
                            <p>No hay ganador.</p>
                        {%else%}
                            <p>Ganador: {{ partida.ganador.username }}.</p>
                        {% endif %}
                    </div>
                    {% elif request.user.is_staff and torneo.fecha < fechaActual and torneo.usuarios.count >= 2 %}
                        <h5>El torneo comenzará el {{torneo.fecha}}</h5>
                        <button class="btn btn-proyecto btnCrearPartida m-3" id="{{ torneo.id }}" nombreVideojuego="{{torneo.videojuego|slugify}}">Comenzar Partida</button>
                    {% elif  torneo.fecha < fechaActual and not torneo.usuarios.count >= 2%}
                        <h5>No se inscribieron los suficientes jugadores.</h5>
                    {%else%}
                        <h5>El torneo comenzará el {{torneo.fecha}}</h5>
                    {% endif %}
                    <h5>Número de Jugadores: {{torneo.usuarios.count}}/{{torneo.numerojugadores}}</h5>
                    <h5>Usuarios Inscritos:</h5> 
                    <ul>
                        {%for usuario in usuarios%}
                            <h5><li style="list-style-type: none;">-{{usuario.username}}.</li></h5>
                        {%empty%}
                            <p>No hay usuarios inscritos.</p>
                        {% endfor %}
                    </ul>
                    </h5>
                    <p><Strong>Videojuego:</Strong> {{torneo.videojuego}}</p>
                    <a href="{% url 'Torneos' nombreVideojuego=torneo.videojuego|slugify%}"><button class="btn btn-proyecto">Volver</button></a>
                </div>
            </div>
        </div>
    </div>  

{% endblock content %}


{% block js %}
    <script>
        const botonesCrearPartida = document.querySelectorAll('.btnCrearPartida');

        botonesCrearPartida.forEach(boton => {
            boton.addEventListener('click', () => {
                const torneoId = boton.id;

                if (confirm(`Estás a punto de crear la partida para el torneo {{torneo.nombre}}. ¿Deseas continuar?`)) {
                    fetch('/torneos/crearPartida/' + torneoId, {
                        method: 'POST',
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    })
                    .then((response) => {
                        if (response.ok) {
                            window.location.href = "{% url 'DetallesTorneo' nombreVideojuego=torneo.videojuego|slugify pk=torneo.pk %}";
                        } else {
                            alert("Error al intentar crear la partida, inténtelo de nuevo más tarde.");
                        }
                    })
                    .catch((error) => {
                        alert("Error al intentar crear la partida, inténtelo de nuevo más tarde.");
                    });
                }
            });
        });
    </script>
{% endblock js %}
    