{% extends 'torneosonline/base.html' %}


{% block content %}
    <div class="container mt-5 contenedor">
        <div class="row justify-content-center login-container">
            <div class="col-md-6 col-sm-8">
                <div class="card" style="background-color:#1F2833; color:#C5C6C7;">
                    <div class="card-header">
                        <h4 class="text-center">Editar Usuario</h4>
                    </div>
                    <div class="card-body text-center">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                      
                            {% if form.instance.imagen %}
                                <img src="{{ form.instance.imagen.url }}" alt="Imagen de Perfil" width="150"><br>
                            {% endif %}
                        
                            <label for="id_imagen" class="mb-3 mt-2">Subir nueva imagen de perfil:</label>
                            <input type="file" name="imagen" id="id_imagen" class="form-control mb-3">
                        
                            <p>{{ form.username.label_tag }} {{ form.username }}</p>
                            <p>{{ form.email.label_tag }} {{ form.email }}</p>
                            <p>{{ form.nombre.label_tag }} {{ form.nombre }}</p>
                            <p>{{ form.apellidos.label_tag }} {{ form.apellidos }}</p>
                        
                            <button type="submit"  class="btn btn-primary">Guardar Cambios</button>
                            <a href="{%url 'Perfil'%}" class="btn btn-danger">Cancelar</a>
                        </form>
                    </div>
                    <a href="{% url 'EditarContrasena' %}" class="text-center">Cambiar Contraseña</a><br>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    

{% block js %}
    <script>
        $('#imagen-clear_id,[for="imagen-clear_id"]').hide();
    </script>
{% endblock js %}