{% extends 'torneosonline/base.html' %}


{% block content %}
    <div class="container mt-5 contenedor">
        <div class="row justify-content-center login-container">
            <div class="col-md-6 col-sm-8">
                <div class="card" style="background-color:#1F2833; color:#C5C6C7;">
                    <div class="card-header">
                        <h4 class="text-center">Editar Usuario</h4>
                    </div>
                    <div class="card-body text-center">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="{%url 'Perfil'%}" class="btn btn-danger">Cancelar</a>
                        </form>
                    </div>
                    <a href="{% url 'EditarContrasena' %}" class="text-center">Cambiar Contraseña</a><br>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    