body{
    /*background-image:url('https://img.freepik.com/free-vector/night-landscape-with-mountains-full-moon-shine_107791-11827.jpg?w=1380');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: #0B0C10;
    color: #C5C6C7;
}
#colVideojuego{
    transition: transform  0.3s ease-in-out;
}
#colVideojuego:hover{
    transform: scale(1.05);
}
#nombreJuego{
    background-color: #61892F;
    height: 30px;
    border-radius: 5px;
}
a{
    color: #86C232;
}
.contenedor{
    padding: 1.5rem;
}
.btn-proyecto{
    background-color: #86C232;
}
.btn-proyecto:hover{
    background-color: #61892F;
    color: #0B0C10;
}
.divBotonesTorneos{
    display: flex;
    justify-content: center;
}